

/* DropDown of the D R */
.DropDown {
  padding-top: 10px;
  position: relative;
  display: inline-block;
}
.dropdown-content {
  position: absolute;
  display: none;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 8px 0;
  min-width: 160px;
  z-index: 1000;
  font-weight: 700;
  text-align: center;
  transform: translateX(-25%);
}
.DropDown:hover .dropdown-content {
  display: block;
}


/* form's  */
.form-container {
  margin-top: 100px;
  justify-self: center;
  margin-bottom: 100px;
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  justify-items: center;
  align-self: center;
  max-width: 500px;
}

h2 {
  text-align: center;
  color: #e60329;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 1px;
  font-weight: bold;
  color: #333333;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  background-color: #fdfdfd;
}

input:focus,
select:focus {
  border-color: #f43655;
  outline: none;
  box-shadow: 0 0 3px rgba(217, 4, 41, 0.4);
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 8px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #d90429;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #a4001d;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 10px;
}

@media (max-width: 480px) {
  .form-container {
    padding: 20px;
  }

  input,
  select,
  button {
    font-size: 15px;
  }
}

